*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: "Verdana", sans-serif;
		}
		body{
			margin: 0.5%;
			background-color: #eef4f2;
		}
		header{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 20px;
			background-color: #e6eeec;
			position: relative;
		}
		header img{
			position: absolute;
			left: 22px;
			height: 90px;
		}
		header h1{
			font-size: 40px;
			text-align: center;
			color: #2D4D47  ;
		}
		header p{
			font-size: 18px;
			color: #707070;
			text-align: center;
		}
		.navbar{
			display: flex;
			justify-content: space-around;
			background: #588C7E;
			padding: 15px;
			width: 100%;
			position: sticky;
			top: 0;
			z-index: 1000;
		}
		.navbar a{
			color: white;
			text-decoration: none;
			padding: 10px 20px;
			font-size: 16px;
		}
		.navbar a:hover{
			background: #79a398;
			border-radius: 10px;
		}
		.content-section {
			margin: 40px 60px; 
			display: flex;
			gap: 3rem; 
		}
		.toc {
			flex: 1;
			border: 2px solid #ccc;
			padding: 1rem;
			background-color: #e0eae4;
			border-radius: 8px;
			max-width: 250px;
			position: sticky;
			top: 1rem;
			height: fit-content;
			margin-top: 20px; 
		}
		.content {
			flex: 3;
			font-size: 1.1rem;
			line-height: 1.6;
			margin-top: 20px; 
		}
		.toc h3 {
			font-weight: bold;
			margin-bottom: 0.5rem;
		}
		.toc ul {
			list-style-type: disc;
			padding-left: 1.2rem;
		}
		.toc ul ul {
			list-style-type: circle;
			padding-left: 1.5rem;
		}
		.main-title {
			text-align: center;
			font-size: 2.5rem;
			font-weight: bold;
			margin-bottom: 1rem;
			color: #355f55;
		}
		h2.section-title {
			font-size: 28px;
			margin-top: 40px;
			text-align: center;
			color: #355f55;
			background-color: #d7dfdd;
		}
		.subtext {
			text-align: center;
			color: #666;
			margin-bottom: 20px;
		}
		.description {
			margin: 30px 40px;
			font-size: 17px;
			font-family: "Verdana", sans-serif;
		}
		.description ul {
			list-style-type: disc;
			padding-left: 20px;   
		}
		.description li {
			margin-bottom: 8px;
		}
		.description h3 {
			margin-top: 20px;
			margin-bottom: 10px;
			font-weight: bold;
		}
		.box {
			border: 2px solid #ccc;
			padding: 1rem;
			margin-top: 1rem;
			border-radius: 10px;
			background-color: #d6e2df;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
		}
		.platform-grid {
			background-color: #d6e2df;
			display: flex;
			flex-wrap: wrap;
			gap: 1.5rem;
			justify-content: center;
		}
		.platform-box {
			background-color: #b4cbc5;
			flex: 1 1 300px;;
			border: 1px solid #ccc;
			border-radius: 10px;
			padding: 1rem;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			max-width: 100%;
			transition: transform 0.3s ease, box-shadow 0.3s ease;
		}
		.platform-box:hover {
			transform: scale(1.05);
			box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
		}
		.platform-box img {
			max-width: 100%;
			height: auto;
			display: block;
			margin: 0.5rem auto;
		}
		.platform-box a {
			display: block;
			margin-bottom: 10px;
			color: #0077cc;
			font-weight: bold;
		}
		footer{
			background: #375952;
			color: white;
			text-align: center;
			padding: 20px;
			margin-top: 40px;
			font-size: 16px;
		}